<nav class="navbar navbar-expand navbar-light navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EZML</a>

    <ul class="navbar-nav ms-auto">

      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "Portfolio", favorites_path, class: 'nav-link' %>
      </li>
      <% end %>

      <% if logged_in? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Models", admin_model_parameters_path, class: 'nav-link' %>
        </li>
      <% end %>

      <% if logged_in? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Schedule", admin_schedule_index_path, class: 'nav-link' %>
        </li>
      <% end %>

      <li class="nav-item">
        <% if logged_in?  %>
          <div class="account-control">
            <div id="avatar">
              <div id="user-initials"><%= current_user.initials %></div>
            </div>

            <%= render 'navbar/control_panel' %>
          </div>

        <% else %>
          <%= link_to "Login", sessions_path, class: 'nav-link' %>
        <% end  %>
      </li>
    </ul>
  </div>
</nav>
<br/>

<div class="container"> 
  <% if flash[:error].present? %>
    <br/><br/>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error] %>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if flash[:success].present? %>
    <br/><br/>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if flash[:notice].present? %>
    <br/><br/>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<script>
  window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove(); 
      });
  }, 2000);
</script>