<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Model</title>
  </head>

  <body>

  <%# insert header here %>
  <%= render "layouts/header" %>

  <div class="container" style="margin-bottom: 20px">
    <h1>Prediction/Recommendation</h1>
    <h2>Add New Model</h2>
    <hr/>


    <%= form_with model: mlParam, url: add_param_path, method: :post, local: true, scope: :ml_param do |f| %>
      <div class = "mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :machine_model, class: "form-label" %>
        <%= f.select(:ml, ["LSTM", "ANN", "CNN"], { include_blank: "Select a model" }, { class: "form-select" }) %>
      </div>

      <div class="mb-3">
        <%= f.label :parameter_1, class: "form-label" %>
        <%= f.text_field :paraOne, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :parameter_2, class: "form-label" %>
        <%= f.text_field :paraTwo, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :parameter_3, class: "form-label" %>
        <%= f.text_field :paraThree, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :data_train_set, class: "form-label" %>
        <%= f.select(:trainSet, DatasetView::DatasetList, { include_blank: "Select a dataset" }, { class: "form-select" }) %>
      </div>

      <div class="mb-3">
        <%= f.label :start_date, class: "form-label" %>
        <%= f.text_field :startDate, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :end_date, class: "form-label" %>
        <%= f.text_field :endDate, class: "form-control" %>
      </div>

      <%= link_to "Back", "/model", class: 'btn btn-danger col-1' %>
      <%= f.submit :"Simulate", class: "btn btn-primary col-1" %>
      
      <% if local_assigns.has_key? :status_msg %>
        <p><%= status_msg %></p>
      <% end %>

    <% end %>

    <% if flash[:error].present? %>
      <p class='flash-error'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:success].present? %>
      <p class='flash-success'><%= flash[:success] %></p>
    <% end %>

  </div>
  </body>
</html>