<% content_for :page_js do %>
  favorites/index
<% end %>

  <div class="container mt-5">
    <div class="row my-5">

    <div class="col-12">
        <h1>Portfolio</h1>
        <hr/>
        <br/>

        <%= form_for :favorite, :url => { :controller=> "favorites", :action => "create" } do |f| %>
          <%= f.text_field :stocksymbol, :placeholder => "Stock Symbol", :class=>"form-control", :style=>"width:250px; display:inline;" %>
          <%= f.submit "Add to Favorite", class: "btn btn-primary" %>
        <% end %>
        <br/>

        <table id="fav-list" class="table table-striped">
          <thead class="table-dark">
            <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Exchange</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
            <th scope="col">Change</th>
            <th scope="col">% Change</th>
            <th scope="col">Buy Threshold</th>
            <th scope="col">Sell Threshold</th>
            <th scope="col" style="width:20%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @favorites.each do |fav| %>
              <tr class="fav_row" data-link ="<%= stock_path(fav.stock.id) %>" >
                <td id="link_to_stock" ><%= fav.stock.symbol %></td>
                <td><%= fav.stock.name %></td>
                <td><%= fav.stock.exchange %></td>
                <% fav.stock.price_histories.order(date: :desc).limit(1).each do |pxhist| %>
                    <td class="fav_close"><%= pxhist.close%></td>
                    <td><%= pxhist.volume%></td>
                    <td><%= pxhist.change.round(3)%></td>
                    <td><%= pxhist.percent_change.round(4)*100%>%</td>
                <% end %>
                <% if fav.threshold.nil? %>
                  <td> - </td>
                  <td> - </td>

                <% else %>
                  <td class="fav_buythreshold"><%= fav.threshold.buythreshold %></td>
                  <td class="fav_sellthreshold"><%= fav.threshold.sellthreshold %></td>
                
                <% end %>
                
                <td class="unclickable">

                  <!-- Button Link to Threshold Page -->
                  <%= link_to 'Threshold', fav, class: 'btn btn-success' %>

                  <!-- Button trigger modal -->
                  <%= link_to 'Un-Favorite', fav, method: :destroy, data: { confirm: 'Confirm to unfavorite the stock?', title: "Confirmation" }, class: 'btn btn-danger' %>
 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

