This is the favorites show page
<% flash.each do |type, msg| %>
  <%= content_tag :div, class: "alert alert-#{message_type}" do -%>
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <% end -%>
<% end %>

<p><%= @favorites.id %></p>
<% if @favorites.threshold.nil? %>

<p> Threshold ID: None </p>
<%= form_for :threshold, :url => { :controller=> "threshold", :action => "create", :favoriteid =>@favorites.id }, :html => {:class => "threshold_form"} do |form| %>
    <%= form.number_field :buythreshold %>
    <%= form.number_field :sellthreshold %>
    <%= form.submit %>
  <% end %>

  <% else %>
  <p>Threshold ID: <%= @favorites.threshold.id %></p>


  <%= form_for :threshold, :url => { :controller=> "threshold", :action => "update",  :thresholdid => @favorites.threshold.id  }, :html => {:class => "threshold_form"} do |form| %>
      <%= form.number_field :buythreshold %>
      <%= form.number_field :sellthreshold %>
      
      <%= form.submit %>
    <% end %>
<% end %>
