<div class="container">    
  <div class="row my-5">
    <div class="col-12">
      <% if @favorites.threshold.nil? %>

        <h1>Create Threshold</h1>
        <hr/>

        <h4>Add Threshold for <span class="text-primary"><%= @favorites.stock.name %></span></h4><br>
        <%= form_for :threshold, :url => { :controller=> "threshold", :action => "create", :favoriteid =>@favorites.id }, :html => {:class => "threshold_form"} do |form| %>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Buy Threshold</label>
            <div class="col-sm-10">
              <%= form.number_field :buythreshold, :step => 0.01, :min => 0.00, :value=>0.00, :required=>'required', :class=>'form-control', :style=>"width:250px" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sell Threshold</label>
            <div class="col-sm-10">
              <%= form.number_field :sellthreshold, :step => 0.01, :min => 0.00, :value=>0.00, :required=>'required', :class=>'form-control', :style=>"width:250px" %>
              <small class="form-text">Threshold should be higher than Buy Threshold </small>
            </div>

          </div>

          <%= link_to "Back", favorites_path, class: 'btn btn-danger col-1' %>
          <%= form.submit :"Save", class: "btn btn-primary col-1" %>  
        <% end %>

      <% else %>

        <h1>Modify Threshold</h1>
        <hr/>

        <h4>Modify Threshold for <span class="text-primary"><%= @favorites.stock.name %></span></h4><br>
        <%= form_for :threshold, :url => { :controller=> "threshold", :action => "update",  :thresholdid => @favorites.threshold.id  }, :html => {:class => "threshold_form"} do |form| %>
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Buy Threshold</label>
            <div class="col-sm-10">
              <%= form.number_field :buythreshold, :step => 0.01, :min => 0.00, value:@favorites.threshold.buythreshold, :required=>'required', :class=>'form-control', :style=>"width:250px" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sell Threshold</label>
            
            <div class="col-sm-10">
              <%= form.number_field :sellthreshold, :step => 0.01, :min => 0.00, value:@favorites.threshold.sellthreshold, :required=>'required', :class=>'form-control', :style=>"width:250px" %>
              <small class="form-text">Threshold should be higher than Buy Threshold </small>
            </div>
            
          </div>

          <%= link_to "Back", favorites_path, class: 'btn btn-danger col-1' %>
          <%= form.submit :"Update", class: "btn btn-primary col-1" %>  

        <% end %>
      <% end %>
      <% if @favorites.errors.any? %>
        <% @favorites.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      <% end %>
    </div>

  
</div>
