<div class="container" style="margin-bottom: 20px">
  <div class="row my-5">
    <div class="col-12">
      <br/><br/>
      <h1>Edit Schedule</h1>
      <hr/>
      <br/>

      <%= form_with model: @schedule, action: :update, url: admin_schedule_path(@schedule), local: true do |f| %>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%= f.label :start_date, class: "form-label" %></label>
          <div class="col-sm-10">
            <%= f.date_field :start_date, min: @schedule.start_date, max: Date.today+61, required: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%= f.label :Frequency, class: "form-label" %></label>
          <div class="col-sm-10">
            <%=
            f.select(:frequency,
                    [['7',7],['14',14],['21',21]],
                    { },
                    { required: true, class: "form-control"})
            %>
          </div>
        </div>

        <%= link_to "Back", admin_schedule_index_path, class: 'btn btn-danger col-1' %>
        <%= f.submit :"Save", class: "btn btn-primary col-1" %>

        <% if local_assigns.has_key? :status_msg %>
          <p><%= status_msg %></p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>