<div class="container" style="margin-bottom: 20px">
  <h1>Edit Schedule</h1>
  <hr/>

  <% if flash[:error].present? %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:success].present? %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <%= form_with model: @schedule, action: :update, url: admin_schedule_path(@schedule), local: true do |f| %>


    <div class = "mb-3">
    <%= f.label :start_date, class: "form-label" %>
    <%= f.date_field :start_date, required: true, class: "form-control" %>
    </div>


    <div class="mb-3" id="gamma">
    <%= f.label :Frequency, class: "form-label" %><br>
    <%=
    f.select(:frequency,
            [['7',7],['14',14],['21',21]],
            { },
            { required: true, class: "form-control"})
    %>
    </div>



    <%= link_to "Back", admin_schedule_index_path, class: 'btn btn-danger col-1' %>
    <%= f.submit :"Submit", class: "btn btn-primary col-1" %>

    <% if local_assigns.has_key? :status_msg %>
      <p><%= status_msg %></p>
    <% end %>
  <% end %>
</div>