<% content_for :page_js do %>
  stocks/show
<% end %>

<% content_for :assets do %>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<% end %>


<div class="container">
  <!-- PRICE CHART -->
  <div class="row my-5">
    <div class="col-12">
      <br/>
      <h1 id="stockname" style="display: inline"><%= @stock.symbol %> </h1>

      <% if @recommendation_action.count > 0 %>
        <% if @recommendation_action.first.verdict.upcase == "SELL" %>
          <span class="badge bg-danger text-wrap" style="font-size: 20px;">
            <%= @recommendation_action.first.verdict.upcase %>
          </span>
        <% elsif @recommendation_action.first.verdict.upcase == "BUY" %>
          <span class="badge bg-success text-wrap" style="font-size: 20px;">
            <%= @recommendation_action.first.verdict.upcase %>
          </span>
        <% else %>
          <span class="badge bg-warning text-wrap" style="font-size: 20px;">
            <%= @recommendation_action.first.verdict.upcase %>
          </span>
        <% end %>

        <span class="fs-3 text-secondary">
          on <%= @recommendation_action.first.prediction_date %>
        </span>
      <% end %>

      <% if logged_in? %>
        <%= link_to favorite_text, favorites_update_path(stock:@stock), class:'btn btn-primary', style:'margin-top:30px; float:right;', id:'favorite_link', remote: true %>
      <% else %>
        <%= link_to "Log in to add", sessions_path, class:'btn btn-primary', style:'margin-top:30px; float:right;' %>
      <% end %>

      <h3 id="stockfullname"><%= @stock.name %></h3>

    </div>

    <div class="col-12">
      <span id="stockexchange" style="visibility: hidden"><%=@stock.exchange%></span>
      <div id="tradingview_Chart"></div>
    </div>
  </div>


   <!-- PRICE RELATED DATA -->
  <div class="row my-5">
    <div class="col-12">
      <h1>LAST 5 PRICE DATA</h1>

      <table id="pricehistory-list" class="table table-striped ">
        <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Change</th>
            <th>% Change</th>
          </tr>
        </thead>
        <tbody>
          <% @stock.price_histories.order(date: :desc).limit(5).each do |pxhist| %>
            <tr>
              <td><%= pxhist.date%></td>
              <td><%= pxhist.open%></td>
              <td><%= pxhist.high%></td>
              <td><%= pxhist.low%></td>
              <td><%= pxhist.close%></td>
              <td><%= pxhist.volume%></td>
              <td><%= pxhist.change.round(3)%></td>
              <td><%= pxhist.percent_change.round(4)*100%>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- PREDICTION FROM ML -->
  <h1>STOCKS PREDICTION</h1>
  <div class="row my-5">
    <div class="col-5">
      <%= content_tag :div,
        class: "price_prediction",
        data: { pxpredict: @recent_predictions.first } do
      %>
        <canvas id="line-chart" width="350" height="200"></canvas>
      <% end %>

    </div>

    <div class="col-7">
      <table id="pricepredict-list" class="table table-striped">

        <thead>
          <tr>
            <th class="bg-secondary">Entry Date</th>
            <th class="bg-primary">ND Date</th>
            <th class="bg-primary">ND Exp</th>
            <th class="bg-warning">ST Date</th>
            <th class="bg-warning">ST Exp</th>
            <th class="bg-success">MT Date</th>
            <th class="bg-success">MT Exp</th>
          </tr>
        </thead>
        <tbody>
          <% @recent_predictions.each do |prices| %>
              <tr>
                <td class="table-secondary"><%= prices[:entry_date] %></td>
                <td class="table-primary"><%= prices[:nd_date] %></td>
                <td class="table-primary"><%= prices[:nd_exp_price] %></td>
                <td class="table-warning"><%= prices[:st_date] %></td>
                <td class="table-warning"><%= prices[:st_exp_price] %></td>
                <td class="table-success"><%= prices[:mt_date] %></td>
                <td class="table-success"><%= prices[:mt_exp_price] %></td>
              </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>
