<% content_for :page_js do %>
  stocks/show
<% end %>

<% content_for :assets do %>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<% end %>


<div class="container">
  <!-- PRICE CHART -->
  <div class="row my-5">
    <div class="col-12">
      <h1 id="stockname"><%= @stock.symbol %></h1>   
      <% if logged_in? %>
        <%= link_to favorite_text, favorites_update_path(stock:@stock), id:'favorite_link', remote: true %>   
      <% else %>
        <%= link_to "Log in to add", sessions_path %>
      <% end %>
      <span id="stockexchange" style="visibility: hidden"><%=@stock.exchange%></span>
      <div id="tradingview_Chart"></div>
    </div>
  </div>

  <!-- PREDICTION FROM ML -->
  <div class="row my-5">
    <div class="col-12">
      <h1>PREDICTION</h1>
      <%= content_tag :div,
        class: "price_prediction",
        data: { pxpredict: @recent_predictions.first } do
      %>
        <canvas id="line-chart" width="400" height="200"></canvas>
      <% end %>

      <p class="mt-5"> * Below is dummy data from model for testing purpose </p>
      <table id="pricepredict-list" class="table table-striped">
        <thead>
          <tr>
            <th>Entry Date</th>
            <th>ND Date</th>
            <th>ND Max</th>
            <th>ND Exp</th>
            <th>ND Min</th>
            <th>ST Date</th>
            <th>ST Max</th>
            <th>ST Exp</th>
            <th>ST Min</th>
            <th>MT Date</th>
            <th>MT Max</th>
            <th>MT Exp</th>
            <th>MT Min</th>
          </tr>
        </thead>
        <tbody>
          <% @recent_predictions.each do |pxPrehist| %>
            <tr>
              <% pxPrehist.values[0..12].each do |val| %>
                <td><%= val %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- RECOMMENDATION FROM ML -->
  <div class="row my-5">
    <div class="col-12">
      <h1>RECOMMENDATION</h1>
      <table id="pricehistory-list" class="table table-striped ">
        <thead>
          <tr>
            <th>Entry Date</th>
            <th>ND Date</th>
            <th>ND Action</th>
            <th>ST Date</th>
            <th>ST Action</th>
          </tr>
        </thead>
        <tbody>
          <% @stock.recommendations.order(entry_date: :desc).limit(5).each do |pxhist| %>
            <tr>
              <td><%= pxhist.entry_date%></td>
              <td><%= pxhist.nd_date%></td>
              <td><%= pxhist.nd_verdict%></td>
              <td><%= pxhist.st_date%></td>
              <td><%= pxhist.st_verdict%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <!-- PRICE RELATED DATA -->
  <div class="row my-5">
    <div class="col-12">
      <h1>LAST 5 PRICE DATA</h1>

      <table id="pricehistory-list" class="table table-striped ">
        <thead>
          <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Change</th>
            <th>% Change</th>
          </tr>
        </thead>
        <tbody>
          <% @stock.price_histories.order(date: :desc).limit(5).each do |pxhist| %>
            <tr>
              <td><%= pxhist.date%></td>
              <td><%= pxhist.open%></td>
              <td><%= pxhist.high%></td>
              <td><%= pxhist.low%></td>
              <td><%= pxhist.close%></td>
              <td><%= pxhist.volume%></td>
              <td><%= pxhist.change.round(3)%></td>
              <td><%= pxhist.percent_change.round(4)*100%>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
