<div class="container mt-5">
  <h1>Prediction/Recommendation</h1>
  <h2>Machine Models</h2>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <% @headers.each do |col_name| %>
          <th scope="col"><%= col_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @models.each do |model| %>
        <tr>
          <% model.each_with_index do |attr, idx| %>
            <% if idx == 0 %>
              <td scope="row"><%= attr %></td>
            <% else %>
              <td><%= attr %></td>
            <% end %>
          <% end %>
          <td><%= link_to "DELETE", "/" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add Model", "/model_parameters/new", class: 'btn btn-primary col-1' %>
</div>
