<% content_for :page_js do %>
  admin/model_parameters/index
<% end %>

<div class="container mt-5">
  <div class="row my-5">
    <div class="col-12">
      <div id="alerts-container"></div>
    </div>

    <div class="col-12">
      <h1>Model Training Parameters </h1>
      <h2>Price Prediction & Recommendation</h2>
      <hr/>
      <br/>

      <!-- Show the current active records -->
      <h3>Active Records</h3>
      <table class="table" id="model-list" class="table table-striped ">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="width: 15%">Date Created</th>
            <th scope="col" style="width: 10%">Model Name</th>
            <th scope="col" style="width: 10%">Model Type</th>
            <th scope="col" style="width: 35%">Parameters</th>
            <th scope="col" style="width: 10%">Active</th>
            <th scope="col" style="width: 25%">Trained % </th>
          </tr>
        </thead>
        <tbody>
          <% @models.order({ created_at: :desc }).each do |model| %>
            <% if model.active == true %>
              <tr data-link ="<%= admin_model_parameter_url(id:model) %>">
                <td><%= model.created_at.in_time_zone("Singapore").strftime("%Y-%d-%m %H:%M:%S") %></td>
                <td><%= model.name %></td>
                <td><%= model.model_type %></td>
                <td>
                  <% JSON.parse(model.params).each do |attr_name, attr_value| %>
                    <%= attr_name.to_s + ": " + attr_value.to_s%> <br/>
                  <% end %>
                </td>
                <td><%= check_boolean(model.active) %></td>
                <td><%= model.train_percent %>%</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br><br>

      <h3>Inactive/New Records</h3>
      <table class="table" id="model-list" class="table table-striped ">
        <thead class="table-secondary">
          <tr>
            <th scope="col" style="width: 15">Date Created</th>
            <th scope="col" style="width: 10%">Model Name</th>
            <th scope="col" style="width: 10%">Model Type</th>
            <th scope="col" style="width: 35%">Parameters</th>
            <th scope="col" style="width: 10%">Trained % </th>
            <th scope="col" style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @models.order({ created_at: :desc }).each do |model| %>
            <% if model.active == false %>
              <tr data-link ="<%= admin_model_parameter_url(id:model) %>">
                <td><%= model.created_at.in_time_zone("Singapore").strftime("%Y-%d-%m %H:%M:%S") %></td>
                <td><%= model.name %></td>
                <td><%= model.model_type %></td>
                <td>
                  <% JSON.parse(model.params).each do |attr_name, attr_value| %>
                    <%= attr_name.to_s + ": " + attr_value.to_s%> <br/>
                  <% end %>
                </td>
                <td id=<%= "#{model.name}-train-percent" %>><%= model.train_percent %>%</td>

                <td class="unclickable" >
                  <div>
                    <%=
                      link_to 'Set Active',
                      admin_model_parameters_setActive_path(id:model),
                      id: "#{model.name}-active-btn",
                      class: "btn btn-success #{model.train_percent == 100 ? '' : 'd-none'}",
                      method: :post,
                      data: {
                        confirm: "Confirm to set this set of parameters active? \nNote that the schedule will reset.",
                        title: "Confirmation"
                      }
                    %>

                    <% btn_class = model.train_percent == 100 || model.training? ? 'd-none' : '' %>
                    <%= tag.button Hash[
                      id: "#{model.name}-train-btn",
                      class: "btn btn-warning btn-train #{btn_class}",
                      data: { config_id: model.id }
                    ] do %>
                      Train
                    <% end %>

                    <%= tag.button Hash[
                      id: "#{model.name}-training-indicator",
                      class: "btn btn-info btn-training #{model.training? ? '' : 'd-none'}",
                      disabled: true
                    ] do %>
                      Training
                    <% end %>

                    <%=
                      link_to 'Delete',
                      admin_model_parameters_delete_path(id:model),
                      id: "#{model.name}-delete-btn",
                      class: "btn btn-danger #{model.training? ? 'd-none' : ''}" ,
                      method: :destroy,
                      data: {
                        confirm: 'Confirm to delete the parameters',
                        title: "Confirmation"
                      }
                    %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%= link_to "New Parameters", "model_parameters/new", class: 'btn btn-primary' %>
    </div>
  </div>
</div>
