<script>
$(document).ready(function () {
    $('.rf_div').hide();
    $('.svm_div').hide();
    $('.lstm_div').hide();
    $('#model_type').on("change",function(){
      if (($('#model_type option:selected').val()) == "lstm"){
        $('.rf_div').hide();
        $('.svm_div').hide();
        $('.lstm_div').show();
      } else if(($('#model_type option:selected').val()) == "rf"){
        $('.rf_div').show();
        $('.svm_div').hide();
        $('.lstm_div').hide();
      }else{
        $('.rf_div').hide();
        $('.svm_div').show();
        $('.lstm_div').hide();
      }
    });
})



</script>

<div class="container" style="margin-bottom: 20px">
  <h1>Model Training Parameters</h1>
  <h2>Add New Model</h2>
  <hr/>

  <% if flash[:error].present? %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:success].present? %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <%= form_with model: @ml_params, method: :post, url: admin_model_parameters_path, local: true do |f| %>
    <div class = "mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class = "mb-3">
    <%= f.label :start_date, class: "form-label" %>
    <%= f.date_field :start_date, required: true, class: "form-control" %>
    </div>

    <div class = "mb-3">
    <%= f.label :train_test_percent, class: "form-label" %>
    <%= f.number_field :train_test_percent, :step => 0.01, required: true, class: "form-control"%>
    </div>


    <div class="mb-3" id="model_type">
      <%= f.label :model_type, class: "form-label" %><br>
      <%= f.select :model_type, ModelConfig.model_types.keys, {}, {required: true, class: "form-control"}%>
      
    </div>

    <!-- Div where the LSTM are -->
    <div class="lstm_div">

      <div class="mb-3" id="activation">
        <%= f.label :activation, class: "form-label" %><br>
        <%=
        f.select(:activation,
                [['Relu','relu'],['Linear','linear']],
                { },
                {class: "form-control"})
        %>
      </div>  

      <div class="mb-3" id="units">
        <%= f.label :units, class: "form-label" %><br>
        <%=
        f.select(:units,
                [['64',64],['32',32]],
                { },
                {class: "form-control"})
        %>
      </div>

      <div class="mb-3" id="dropout">
        <%= f.label :dropout, class: "form-label" %><br>
        <%= f.number_field :dropout, step:0.1 , min:0.1, max:0.9, class: "form-control"%>
      </div>

      <div class="mb-3" id="epoch">
        <%= f.label :epoch, class: "form-label" %><br>
        <%= f.number_field :epoch,  min:1, max:100, class: "form-control"%>
      </div>

      <div class="mb-3" id="batch_size">
        <%= f.label :batch_size, class: "form-label" %><br>
        <%=
        f.select(:batch_size,
                [['8',8],['32',32],['64',64],['128',128]],
                { },
                {class: "form-control"})
        %>
      </div>
      

    </div>

    <!-- Div where the RF are -->
    <div class="rf_div">

      <div class="mb-3" id="n_estimators">
        <%= f.label :n_estimators, class: "form-label" %><br>
        <%=
        f.select(:n_estimators,
                [['20',20],['50',50],['70',70],['100',100],
                ['150',150],['180',180],['200',200]],
                { },
                {:multiple => true,class: "form-control"})
        %>
      </div>

      <div class="mb-3" id="max_depth">
        <%= f.label :max_depth, class: "form-label" %><br>
        <%=
        f.select(:max_depth,
                [['3',3],['4',4],['5',5],['6',6],['7',7],
                ['8',8],['9',9],['10',10],['11',11],['12',12],
                ['13',13],['14',14]],
                { },
                { :multiple => true,class: "form-control"})
        %>
      </div>

      <div class="mb-3" id="max_features">
        <%= f.label :max_features, class: "form-label" %><br>
        <%=
        f.select(:max_features,
                [['Auto','auto'],['Sqrt','sqrt'],['Log2','log2']],
                { },
                { :multiple => true,class: "form-control"})
        %>
      </div>
      
      <div class="mb-3" id="criterion">
        <%= f.label :criterion, class: "form-label" %><br>
        <%=
        f.select(:criterion,
                [['Gini','gini'],['Entropy','entropy']],
                { },
                { :multiple => true,class: "form-control"})
        %>
      </div>  
    </div>

    <!-- Div where the SVM are -->
    <div class="svm_div">

      <div class="mb-3" id="c">
        <%= f.label :c, class: "form-label" %><br>
        <%=
        f.select(:c,
                [['1',1],['2',2],['3',3],['4',4],['5',5],
                ['6',6],['7',7],['8',8],['9',9],['10',10]],
                { },
                { :multiple => true,class: "form-control"})
        %>
      </div>

      <div class="mb-3" id="gamma">
        <%= f.label :gamma, class: "form-label" %><br>
        <%=
        f.select(:gamma,
                [['1',1],['2',2],['3',3],['4',4],['5',5],
                ['6',6],['7',7],['8',8],['9',9],['10',10],
                ['11',11],['12',12],['13',13],['14',14],['15',15]],
                { },
                {:multiple => true,class: "form-control"})
        %>
      </div>

      <div class="mb-3" id="kernel">
        <%= f.label :kernel, class: "form-label" %><br>
        <%=
        f.select(:kernel,
                [['Linear','linear'],['Poly','poly'],['RBF','rbf'],
                ['Sigmoid','sigmoid'], ['Precomputed','precomputed']],
                { },
                { :multiple => true,class: "form-control"})
        %>
      </div>
    </div>

    <%= link_to "Back", admin_model_parameters_path, class: 'btn btn-danger col-1' %>
    <%= f.submit :"Submit", class: "btn btn-primary col-1" %>

    <% if local_assigns.has_key? :status_msg %>
      <p><%= status_msg %></p>
    <% end %>
  <% end %>
</div>
