<div class="container mt-5">
  <br/><br/>
  <h1>Trained Parameters & Accuracy</h1>
  <hr/>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Stock Name</th>
        <th scope="col">Stage</th>
        <th scope="col">Parameters</th>
        <th scope="col">Accuracy</th>
        <th scope="col">RMSE</th>
      </tr>
    </thead>
    <tbody>
      <% @model_trained.each do |m| %>
        <tr>
          <td><%=m.stock.symbol %></td>
          <td><%=m.stage %></td>
          <td><%=m.parameters %></td>
          <td><%=m.accuracy %></td>
          <td><%=m.rmse %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= link_to "Back", admin_model_parameters_path, class: 'btn btn-primary' %>
</div>