<% content_for :assets do %>
  <%= javascript_pack_tag 'admin/prototype/index', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5 text-center d-flex">
        <div class="col-6">
          <h3>Select stocks for training</h3>
          <%= check_box_tag(:cb_aapl, 1, false, class: 'model-training-option') %>
            <%= label_tag(:cb_aapl, "AAPL", class: 'training-option-label') %>
          <%= check_box_tag(:cb_xom, 2, false, class: 'model-training-option') %>
            <%= label_tag(:cb_xom, "XOM", class: 'training-option-label') %>
          <%= check_box_tag(:cb_gsk, 3, false, class: 'model-training-option') %>
            <%= label_tag(:cb_gsk, "GSK", class: 'training-option-label') %>
          <%= check_box_tag(:cb_wpm, 4, false, class: 'model-training-option') %>
            <%= label_tag(:cb_wpm, "WPM", class: 'training-option-label') %>
          <%= check_box_tag(:cb_all, :ALL) %>
            <%= label_tag(:cb_all, "All", class: 'training-option-label') %>

          <button id="training-button" class="btn btn-primary">Train</button>
        </div>

        <div class="col-6">
          <h3>Select stock for prediction</h3>
          <%= radio_button_tag(:stock_id, 1, true, id: :radio_aapl, class: 'prediction-option') %>
            <%= label_tag(:radio_aapl, "AAPL", class: 'prediction-option-label') %>
          <%= radio_button_tag(:stock_id, 2, false, id: :radio_xom, class: 'prediction-option') %>
            <%= label_tag(:radio_xom, "XOM", class: 'prediction-option-label') %>
          <%= radio_button_tag(:stock_id, 3, false, id: :radio_gsk, class: 'prediction-option') %>
            <%= label_tag(:radio_gsk, "GSK", class: 'prediction-option-label') %>
          <%= radio_button_tag(:stock_id, 4, false, id: :radio_wpm, class: 'prediction-option') %>
            <%= label_tag(:radio_wpm, "WPM", class: 'prediction-option-label') %>

          <button id="prediction-button" class="btn btn-primary">Predict</button>
        </div>
      </div>

      <h2>Model Training Status</h2>
      <div class="mt-3 mb-5">
        <table id="model-config-table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Model Name</th>
              <th scope="col">Training Progress</th>
              <th scope="col">Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col"><%= @config.name %></th>
              <td scope="col"><%= @config.train_percent %></th>
              <td scope="col"><%= @config.updated_at.strftime("%Y-%m-%d %H:%M:%S.%3N") %></th>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Latest Predictions</h2>
      <div class="my-3">
        <table id="predictions-table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Stock</th>
              <th scope="col">Entry Date</th>
              <th scope="col">Next Day</th>
              <th scope="col">ND Max</th>
              <th scope="col">ND Exp</th>
              <th scope="col">ND Min</th>
              <th scope="col">Short Term</th>
              <th scope="col">ST Max</th>
              <th scope="col">ST Exp</th>
              <th scope="col">ST Min</th>
            </tr>
          </thead>
          <tbody>
            <% @predictions.each do |p| %>
              <% prices = p.to_chart_json %>
              <tr>
                <td><%= p.stock.symbol %></td>
                <td><%= prices[:entry_date] %></td>
                <td><%= prices[:nd_date] %></td>
                <td><%= prices[:nd_max_price] %></td>
                <td><%= prices[:nd_exp_price] %></td>
                <td><%= prices[:nd_min_price] %></td>
                <td><%= prices[:st_date] %></td>
                <td><%= prices[:st_max_price] %></td>
                <td><%= prices[:st_exp_price] %></td>
                <td><%= prices[:st_min_price] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  .training-option-label, .prediction-option-label {
    margin-right: 15px;
  }
</style>
