<!DOCTYPE html>
<html>
  <head>
    <title>Csit321Smp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= include_gon(:camel_case => true) %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :assets %>
  </head>

  <body>
    <div class="min-vh-100 d-flex flex-column">
      <% if controller_name == 'stocks' %>
        <%= render "layouts/public_header" %>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="alerts-container"></div>
          </div>
        </div>
      </div>

      <div id="main-content" class="flex-grow-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
