<!DOCTYPE html>
<html>
  <head>
    <title>Csit321Smp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= include_gon(:camel_case => true) %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :assets %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%# Navbar %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto" href="/">App Name</a>
        <ul class="navbar-nav me-0 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </div>
    </nav>

    <%# Yield to page-specific content %>
    <%= yield %>

    <%# Footer %>
    <footer class="py-3 bg-secondary bg-gradient">
      <div class="container">
        <div class="text-center">
          Common components like navbar and footer can go into
          <span class="fw-bold">app/views/layouts/application.html.erb</span>
        </div>
        <div class="text-center">
          <% link = 'https://guides.rubyonrails.org/layouts_and_rendering.html' %>
          See <a href="<%= link %>" class="text-reset" target="_blank">this resource</a>
          for more information about using layouts.
        </div>
      </div>
    </footer>
  </body>
</html>
