<!DOCTYPE html>
<html>
  <head>
    <title>Csit321Smp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= include_gon(:camel_case => true) %>

    <% page_js = yield(:page_js).split("\n").map &:strip %>
    <% page_css = yield(:page_css).split("\n").map &:strip %>
    <%= javascript_pack_tag 'application', *page_js %>
    <%= stylesheet_pack_tag 'application', *page_css, media: 'all' %>
    <%= yield :assets %>
  </head>

  <body>
    <div class="min-vh-100 d-flex flex-column">
      <%= render "navbar/navbar" %>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="alerts-container"></div>
          </div>
        </div>
      </div>

      <div id="main-content" class="flex-grow-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
